<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <style>
        body{
        padding-bottom:398px;
        }
    </style>
</head>
<body style="background: linear-gradient(palevioletred, steelblue);">
<form method="post" action="new">
    {% csrf_token %}
    <p style="text-align:center; font-size:20px;padding-top:6%;"><em>"Subscribe to get daily feeds on banking"</em></p>
    <div class="container" style="padding-left:44%;">
        <button style="background-color:blue; color:white; height:30px; width:70px;border:none;text-align:center;">Subscribe</button>
    </div>

</form>
</body>
</html>